.icon
  fill: #ffffff
  display: inline-block
  vertical-align: middle
img
  width: 100%
  height: auto
.owl-theme
  .owl-nav.disabled + .owl-dots
    margin: 0
.owl-carousel
  .item
    padding 8em 0
    position: relative
    background-size cover
    clip-path: polygon(50% 100%, 100% 90%, 100% 0, 0 0, 0 90%)
    xs-block({
      text-align: center
      padding: 4em 0
    })
    &:before
      position: absolute
      content ""
      background-color: rgba(0, 0, 0, 0.5)
      top: 0
      right: 0
      left: 0
      bottom: 0
      z-index -1
      clip-path: polygon(50% 100%, 100% 90%, 100% 0, 0 0, 0 90%)
    .col-6
      position: relative
    .owl-text
     .sub, .desc
        color: #5ac840
        font-size: rem(18px)
        font-weight: 600
        line-height: 18px
        text-transform: uppercase
     .desc
       color: #ffffff
       line-height: 26px
       font-weight 500
       text-transform: none
     .name
        margin: .5em 0
        color: #ffffff
        font-size: rem(38px)
        line-height: 50px
        text-transform: uppercase
        font-weight: 700
        xs-block({
          line-height: 40px
          font-size: rem(28px)
        })
     .btn
       color #ffffff
       margin 2em 0 0 0
  .owl-dots
    z-index 12
    right: 0
    top: 2em
    position: absolute
    display: flex
    align-items flex-end
    flex-direction column-reverse
    xs('position','relative')
    xs-block({
      flex-direction: row
      align-items: center
      align-content: center
      top: unset
      right: unset
      margin: 1em 0 0 0
    })
    .owl-dot
      & + .owl-dot
        margin-bottom: 1em
        xs-block({
          margin-bottom: 0
          margin-left: 1em
        })
      span
        margin: 0
        padding: 0
        border none
        transform rotate(270deg)
        color: #9a9a9a
        font-family: "Roboto Medium"
        font-size: rem(24px)
        font-weight: 500
        line-height: normal
        width: 35px
        height: 35px
        xs-block({
          transform: rotate(0)
        })
      span, &.active span, &:hover span
        background: none
      &.active span
        width: 45px
        height: 45px
        font-size rem(35px)
        color: #ffffff
.btn
  background-color: #4aa933
  display: inline-block
  padding 10px 25px
  position: relative
  &:after
    transition: all 300ms ease
    position: absolute
    content: ""
    top: 4px
    bottom: 4px
    right: 4px
    left: 4px
    border: 1px solid #ffffff
    opacity 0
  &:hover:after
    opacity 1
.title
  padding 0 0 1.5em 0
  margin 1em 0 .5em 0
  text-align: center
  color: #000000
  font-size: rem(30px)
  font-weight: 500
  line-height: 20px
  position: relative
.sub__title
  margin 1em 0 0 0
  text-align: center
  color: #4aa933
  font-size: rem(20px)
  font-weight: 500
  line-height: 20px
  text-transform: uppercase
.gallery__box
  display: flex
  flex-wrap: wrap
  margin: 1em 0
  align-content center
  figure
    position: relative
    box-sizing border-box
    flex-basis 20%
    xs-block({
      flex-basis: 50%
    })
    &:after
      background-color: rgba(0, 0, 0, 0.5)
      position: absolute
      content ""
      top: 0
      bottom: 0
      right: 0
      left: 0
      transition: all 300ms ease
      opacity 0
    img
      height: 100%
    .icon__zoom
      transition: all 300ms ease
      content ""
      position: absolute
      top: calc(50% - 26px)
      left: calc(50% - 26px)
      sprite($icon_zoom)
      opacity 0
      z-index 10
      cursor: pointer
    &:hover
      &:after
        opacity 1
      .icon__zoom
        opacity 1
section, main
  .title
    &:after
      bottom: 0
      left: calc(50% - 70px)
      position: absolute
      content ""
.title__section
  background-color: #4aa933
  text-align: center
  background-image url("../img/pattern.jpg")
  background-repeat repeat
  h1
    color #ffffff
.hidden
  display: none