.icon
  fill: #ffffff
  display: inline-block
  vertical-align: middle
img
  width: 100%
  height: auto
.owl-theme
  .owl-nav.disabled + .owl-dots
    margin: 0
.owl-carousel
  .item
    padding 8em 0
    position: relative
    background-size cover
    //clip-path: polygon(50% 100%, 100% 90%, 100% 0, 0 0, 0 90%)
    sm-block({
      text-align: center
      padding: 4em 0
    })
    &:before
      position: absolute
      content ""
      background-color: rgba(0, 0, 0, 0.4)
      top: 0
      right: 0
      left: 0
      bottom: 0
      z-index 0
      //clip-path: polygon(50% 100%, 100% 90%, 100% 0, 0 0, 0 90%)
    .col-6
      position: relative
    .owl-text
     .sub, .desc
        color: $mainColor
        font-size: rem(18px)
        font-weight: 600
        line-height: 18px
        text-transform: uppercase
     .desc
       color: #ffffff
       line-height: 26px
       font-weight 500
       text-transform: none
     .name
        margin: .5em 0
        color: #ffffff
        font-size: rem(38px)
        line-height: 50px
        text-transform: uppercase
        font-weight: 700
        sm-block({
          line-height: 40px
          font-size: rem(28px)
        })
     .btn
       color #ffffff
       margin 2em 0 0 0
       &:hover {
         color: #000
       }
  .owl-dots
    z-index 12
    right: 0
    top: 2em
    position: absolute
    display: flex
    align-items flex-end
    flex-direction column-reverse
    xs('position','relative')
    xs-block({
      flex-direction: row
      align-items: center
      align-content: center
      top: unset
      right: unset
      margin: 1em 0 0 0
    })
    .owl-dot
      & + .owl-dot
        margin-bottom: 1em
        xs-block({
          margin-bottom: 0
          margin-left: 1em
        })
      span
        margin: 0
        padding: 0
        border none
        transform rotate(270deg)
        color: #9a9a9a
        font-family: "Roboto Medium"
        font-size: rem(24px)
        font-weight: 500
        line-height: normal
        width: 35px
        height: 35px
        xs-block({
          transform: rotate(0)
        })
      span, &.active span, &:hover span
        background: none
      &.active span
        width: 45px
        height: 45px
        font-size rem(35px)
        color: #ffffff
.btn, .btn__go
  background-color: $mainColor
  display: inline-block
  padding 10px 55px 10px 15px
  position: relative
  border 1px solid $mainColor
  transition: all 300ms ease
  color: $whiteColor;
  .icon {
    width: 16px
    height: 16px
    fill: #ffffff
    display: inline-block
    position: absolute
    top: calc(50% - 8px)
    right: 10px
  }
  &:before
    position: absolute
    content: ""
    top: 0
    bottom: 0
    right: 40px
    width: 1px
    height: 100%
    background-color: #fff
    transition: all 300ms ease
  &:hover
    cursor: pointer
    background-color: $activeBtnBg
    color: #000
    &:before {
      background-color: $mainColor
    }
    .icon {
      fill: #000
    }
.title
  margin 1em 0 0 0
  text-align: center
  color: #000000
  font-size: rem(30px)
  font-weight: 500
  line-height: 20px
  position: relative
  xs-block({
    line-height: 25px
    font-size: rem(26px)
  })
.sub__title
  margin 1em 0 0 0
  text-align: center
  color: $mainColor
  font-size: rem(20px)
  font-weight: 500
  line-height: 20px
  text-transform: uppercase
  xs-block({
    font-size: rem(18px)
  })
section, main
  .title
    &:after
      bottom: 0
      left: calc(50% - 70px)
      position: absolute
      content ""
.title__section
  padding 3rem 0
  text-align: center
  background-image url("../img/page_bg.jpg")
  background-repeat no-repeat
  background-position center center
  background-size cover
  position: relative
  &:before {
    content ''
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 0
    background-color: hsla(0, 0%, 0%, .25)
    z-index 0
  }
  h1
    text-shadow: 0 0 50px hsla(0, 0%, 0%, .4)
    position: relative
    color: #ffffff
.hidden
  display: none
.catalog, .single__tour
  .row
    .col-9, .col-3, .col-7, .col-5
      size-md(12)
.catalog {
  margin 0 0 1rem 0
}
.catalog__items
  margin-bottom 1em
  row-flex()
  xs-block({
    padding: 0 1em
  })
  &-item
    position: relative
    margin-bottom: 1em
    text-align: center
    border-radius 3px
    border: 1px solid #c1bebe
    transition: all 300ms ease
    box-shadow: 0 4px 6px rgba(0,0,0,.1)
    col()
    size(3)
    size-md(4)
    size-sm(12)
    size-xxs(12)
    display: flex
    flex-direction column
    align-content center
    xxs-block({
      margin: 1em 1em 0 1em
    })
    a:after
      display: none
    figure
      flex-grow 2
      margin 0 0 auto 0
      transition: all 300ms ease
      border: none
      padding 0
      display: flex
      flex-wrap wrap
      flex-direction column
      align-items center
      max-height 286px
      overflow hidden
      img {
        object-fit cover
      }
      a
        margin auto 0
    &:hover
      box-shadow: none
    .catalog__items-info
      padding 1em 0 0 0
      .name
        padding 0 1em
        text-align: left
        span {
          font-size rem(14px)
          display: block
          margin .4rem 0 0 0
          color: #666666
        }
        a
          color #000
          font-size: rem(16px)
          font-weight: 500
          line-height: 22px
          display: block
          &:hover
            color: $mainColor
      .prices
        margin 2em 0 1rem 0
        padding 0 1em
        font-weight: 500
        line-height: 18px
        display: flex
        .price
          width: 50%
          font-size: rem(20px)
          font-weight 500
          text-align: left
          span {
            color: #666
            font-size rem(14px)
          }
      .btn__go, .call__popup
        color: #ffffff
        .icon {
          width: 22px
          height: 22px
          top: calc(50% - 11px)
        }
        &:hover
          cursor: pointer
          background-color: $whiteColor
          color: #000000
.buy {
  padding 1rem
  border-top: 1px solid #f5ecec
  form {
    display: flex
    align-items center
    input {
      width: 34px
      box-sizing border-box
      padding 4px 4px
      text-align: center
      font-size rem(14px)
      border: none
    }
  }
  &-count {
    display: flex
    align-items stretch
    &-minus, &-plus {
      font-size rem(16px)
      padding 4px 10px
      border: 1px solid #c1bebe
      border-radius 5px
      background-color: #fff
      &:hover {
        cursor: pointer;
      }
    }
  }
  &-submit {
    margin 0 0 0 auto
    .btn {
      font-size rem(14px)
      font-weight normal
      padding 8px 15px
      border-radius 5px
      &:before {
        display: none
      }
    }
  }
}
.pagination
  text-align: center
  margin 1em 0
  ul
    li
      display: inline-block
      &.active
        a, span
          background-color: $mainColor
          color: $whiteColor
      a, span
        border: 1px solid #d9d6d6
        padding 5px 16px
        color: #6c6c6c
        font-size: rem(18px)
        font-weight: 400
        &:after
          display: none
        &:hover
          background-color: $mainColor
          color: $whiteColor
.banners
  margin 1em 0
.label__product
  position: absolute
  top: 1em
  padding 5px 15px
  color: #ffffff
  font-size rem(16px)
  z-index 10
  &.new
    background-color: $mainColor
  &.info
    background-color: #bf632b
    right: 0
.another__products
  .catalog__items
    margin: 2em 0 1em 0
    display: inline-block
    .owl-nav
      xs-block({
        right: 12px
      })
    &-item
      margin-top: 0
      margin-bottom: 0
      width: auto
      xs-block({
        margin: 0 -1% 0 -1%
      })
      figure
        img
          min-height: 222px
.catalog__items
  position: relative
  .owl-nav
    position: absolute
    right: -5px
    top: -3em
    .owl-next, .owl-prev
      span
        transition: all 300ms ease
        border: 1px solid #d9d6d6
        padding 2px 10px
      &:hover
        background: none
        span
          color $mainColor
          border: 1px solid $mainColor
.tabs
  margin-top: 1em
  margin-bottom: 1em
.tabs > div
  background-color: #fff
  > div
    padding 1em 1em .2em 1em
    p
      text-align: left
.tabs>ul
  margin:0
  padding:0
.tabs>ul:after
  content:""
  display: block
  clear:both
.tabs>ul li
  cursor:pointer;
  display:block;
  float:left;
  padding:10px 15px;
  background:#d6d6d7
  color: #2b2b2b
  + li
    border-left: 1px solid #fff
  &:first-child
    border-top-left-radius 5px
  &:last-child
    border-top-right-radius 5px
.tabs>ul li.active, .tabs>ul li.active:hover
  background: $mainColor
  color:#fff
.tabs>ul li:hover
  background:#d6d6d7
table
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent
table th,table td
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #272727
table thead th
  vertical-align: bottom;
  //border-bottom: 2px solid #272727
table tbody + tbody
  border-top: 2px solid #272727
table th, table td
  border: 1px solid #272727
.notify
  position: fixed
  display: none
  right: 0
  top: 20%
  width: 320px
  border-top 3px solid $mainColor
  box-shadow 0 1px 4px #373737
  background-color: #ebebeb
  z-index 30
  .close
    position: absolute
    width: 15px
    height: 15px
    right: 5px
    top: 5px
  > div
    padding: 1.5em 2em 1em 1em
    font-size rem(17px)
.is__sent
  position: relative
  &:after
    position: absolute
    content ""
    left: calc(50% - 16px)
    top: 2px
    border-radius: 50%
    width: 33px
    height: 33px
    z-index 10
    border-top: 3px solid #eee
    border-right: 3px solid #eee
    border-bottom: 3px solid #eee
    border-left: 3px solid #c1bebe
    transform: translateZ(0)
    animation: load8 1.1s infinite linear
  button[type=submit]
    color #ffffff
    &:hover
      color $mainColor
@-webkit-keyframes load8
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)
@keyframes load8
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)
@keyframes animate-circle
  from
    transform: scale(0)
    opacity: 1
  to
    transform: scale(1)
    opacity: 0
.icon__calendar
  display: inline-block
  sprite($icon_calendar)
.prev__item
  text-align: right
  &:after
    left: -5em
    sm-block({
      top: 0
    })
  &:before
    left: -5em
    sm-block({
      top: 4px
      left: -35px
    })
.next__item
  text-align: left
  &:after
    transform rotate(180deg)
    right: -5em
    sm-block({
      top: 0
    })
  &:before
    transform rotate(180deg)
    right: -5em
    sm-block({
      top: 4px
      right: -35px
    })
.navigation
  margin 1em 0
  .row
    align-items center
    .col-only-6
      col()
      size(6)
.prev__item, .next__item
  font-weight: 400
  color #000
  text-transform: uppercase
  position: relative
  display: inline-block
  transition none
  padding 2em 0
  max-width: 300px
  md-block({
    font-size: rem(12px)
    max-width: 180px
  })
  sm-block({
    font-size: 0
    padding: 0
  })
  &:after
    position: absolute
    content ""
    top: calc(50% - 25px)
    sprite($icon_arrow_project)
    sm-block({
      display: none
    })
  &:before
    position: absolute
    content ""
    top: calc(50% - 25px)
    display: none
    sprite($icon_arrow_project_mob)
    sm-block({
      display: block
    })
  &:hover
    color #00cc45
    &:after
      sprite($icon_arrow_project_active)
  span
    width: 80px
    display: none
    sm-block({
      display: inline-block
    })
    &:before
      content: attr(data-text)
      sm-block({
        font-size: rem(12px)
      })
.responsive
  max-width 320px
  margin 0 1em 1em 0
  float: left
  xs-block({
    margin: 1em auto
    width: 100%
    float: none
    display: block
  })
.table__box
  overflow-x auto
.order__steps
  text-align: center
  img
    width: 32px
    height: auto
    display: block
    margin 0 auto 4px auto
.box_catalog
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  background-color: $mainColor
  padding: 1.2rem 1rem
  md-block({
    order: 1
  })
  &-list {
    box-sizing: border-box;
    display: none;
    position: absolute;
    top: 57px;
    left: 0;
    width: 100%;
    overflow: hidden;
    background-color: $mainColor;
    ul {
      margin: 0;
      list-style: none;
      li {
        position: relative;
        border-top: 1px solid $whiteColor;
        a {
          display: block;
          padding: .8rem 3rem .8rem 1.2rem;
          text-transform: none;
          text-align: left;
          color: $whiteColor;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        span {
          box-sizing: border-box;
          position: absolute;
          z-index: 10;
          top: 0;
          right: 0;
          bottom: 0;
          padding: .8em 1em;
          border-left: 1px solid $whiteColor;
          &:hover {
            cursor: pointer;
          }
        }
        ul {
          display: none;
          li {
            a {
              position: relative;
              padding: .5rem 0 .5rem 1.2rem;
              font-size: rem(14px);
            }
          }
        }
      }
    }
  }
  .btn_catalog
    color: #272727
    &:hover
      cursor: pointer
  .btn_toggle
    margin: 0 0 0 auto
    &:hover
      cursor: pointer;
.btn_toggle
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 38px;
  height: 14px;
  text-align: left;
  margin: 0 0 0 auto;
  md-block({
    margin: 0 0 0 auto
  })
  &:after
    right: 0;
    bottom: 0;
  span
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 80%;
    height: 2px;
    transition: all 300ms ease;
    background-color: #272727;
  &:before, &:after
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    transition: all 300ms ease;
    background-color: #272727;
  &.is_open
    span
      display: none
    &:after
      top: 40%;
      right: 0;
      transform: rotate(-45deg)
    &:before
      top: 40%;
      transform: rotate(45deg)
.icon_arrow {
  sprite($icon_arrow_menu_down_white);
}
.as_center {
  align-self center
}
.flex {
  display: flex
}
.h-cart {
  display: flex
  align-items center
  position: relative;
  margin 0 0 0 auto
  border-radius: 25px;
  border: 1px solid #FFC34D;
  background-color: #ffa712;
  padding 8px 20px
  color: #ffffff
  &:hover {
    background-color: #DB860D
  }
  sm-block({
    margin: .4rem 0 0 1rem
  })
  .icon {
    width: 24px
    height: 24px
    fill: #666
    margin 0 .5rem 0 0
  }
  &-label {
    md-block({
      display: none
    })
  }
  &-count {
    display: flex
    align-items center
    justify-content center
    position: absolute;
    top: -5px;
    right: -5px;
    width: 24px;
    height: 24px;
    border: 2px solid #ffbd4d;
    background-color: #DB860D;
    text-align: center;
    font-size: rem(12px);
    border-radius: 50%;
  }
}
