.filter__panel
  margin 1em 0
  .filter__block, .filter__block-price
    border-bottom: 1px solid #6a6a6a
    padding 0 0 1em 0
    &+.filter__block
      padding 1em 0
  .filter__block
    .label
      position: relative
      padding 5px 0
      color: #000000
      font-size: rem(16px)
      font-weight: 500
      &:hover
        cursor: pointer
      &:after
        transform: rotate(180deg)
        transition: all 300ms ease
        content ""
        position: absolute
        right: 0
        top: 12px
        sprite($icon_arrow_black)
  &-form
    .filter__block.is__opened
      .label:after
        transform: rotate(0deg)
    .list, .tags
      max-height 228px
      overflow auto
      margin 5px 0
      padding 1em 1.2em
      border: 1px solid #c1bebe
      .list__item
        position: relative
        & + .list__item
          margin .6em 0 0 0
    .tags
      border: none
      max-height: 100%
      padding 1em 0
      li
        margin: 0 4px 10px 0
        display: inline-block
        a
          display: block
          color: #2f2f2f
          font-size: rem(14px)
          font-weight: 400
          padding 4px 8px
          border: 1px solid #d9d6d6
          background-color: #ffffff
          &:hover
            border: 1px solid #4aa933
            &:after
              opacity 0
    .single__block-price
      display: flex
      flex-wrap wrap
      > div
        col()
        size(6)
        size-xs(12)
        &:last-child
          text-align: right
        label, input
          display: inline-block
        label + input
          margin-left: 4px
        input
          border: 1px solid #c1bebe
          background-color: #eeeeee
          text-align: center
          width: 80px
          padding 4px 5px
.sorting
  margin 1em 0
  display: block
  text-align: right
  .label
    display: inline-block
    font-size: rem(16px)
    font-weight: 500
  form
    display: inline-block
    .single__block
      display: inline-block
      margin 0 0 0 1em
    select
      outline none
      appearance: none
      padding 8px 30px 8px 10px
      display: inline-block
      border: 1px solid #c1bebe
      background-color: #ffffff