footer
  md-block({
    text-align: center
  })
  .row .col-2, .row .col-4 {
    size-sm(12)
  }
  .btn
    sm-block({
      display: none
    })
.develop
  text-align: right
  margin: auto 0 0 auto
  md-block({
      text-align: center
    })
  &__link
    display: inline-block
    margin-right: 4px
    a
      font-size rem(12px)
      color #ffffff
  &__logo
    display: inline-block
    width: 130px
  md-block({
    text-align: center
  })
