footer
  md-block({
    text-align: center
  })
.develop
  text-align: right
  margin 1.5rem 0 0 0
  md-block({
      text-align: center
    })
  &__link
    display: inline-block
    margin-right: 4px
    a
      font-size rem(12px)
      color #ffffff
  &__logo
    display: inline-block
    width: 130px
  md-block({
    text-align: center
  })
