/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$icon_another_products_name = 'icon_another-products';
$icon_another_products_x = 0px;
$icon_another_products_y = 0px;
$icon_another_products_offset_x = 0px;
$icon_another_products_offset_y = 0px;
$icon_another_products_width = 141px;
$icon_another_products_height = 24px;
$icon_another_products_total_width = 350px;
$icon_another_products_total_height = 280px;
$icon_another_products_image = 'sprite.png';
$icon_another_products = 0px 0px 0px 0px 141px 24px 350px 280px 'sprite.png' 'icon_another-products';
$icon_arrow_black_name = 'icon_arrow-black';
$icon_arrow_black_x = 330px;
$icon_arrow_black_y = 223px;
$icon_arrow_black_offset_x = -330px;
$icon_arrow_black_offset_y = -223px;
$icon_arrow_black_width = 12px;
$icon_arrow_black_height = 6px;
$icon_arrow_black_total_width = 350px;
$icon_arrow_black_total_height = 280px;
$icon_arrow_black_image = 'sprite.png';
$icon_arrow_black = 330px 223px -330px -223px 12px 6px 350px 280px 'sprite.png' 'icon_arrow-black';
$icon_arrow_menu_down_name = 'icon_arrow-menu-down';
$icon_arrow_menu_down_x = 337px;
$icon_arrow_menu_down_y = 201px;
$icon_arrow_menu_down_offset_x = -337px;
$icon_arrow_menu_down_offset_y = -201px;
$icon_arrow_menu_down_width = 10px;
$icon_arrow_menu_down_height = 10px;
$icon_arrow_menu_down_total_width = 350px;
$icon_arrow_menu_down_total_height = 280px;
$icon_arrow_menu_down_image = 'sprite.png';
$icon_arrow_menu_down = 337px 201px -337px -201px 10px 10px 350px 280px 'sprite.png' 'icon_arrow-menu-down';
$icon_arrow_menu_mob_down_name = 'icon_arrow-menu-mob-down';
$icon_arrow_menu_mob_down_x = 336px;
$icon_arrow_menu_mob_down_y = 175px;
$icon_arrow_menu_mob_down_offset_x = -336px;
$icon_arrow_menu_mob_down_offset_y = -175px;
$icon_arrow_menu_mob_down_width = 10px;
$icon_arrow_menu_mob_down_height = 10px;
$icon_arrow_menu_mob_down_total_width = 350px;
$icon_arrow_menu_mob_down_total_height = 280px;
$icon_arrow_menu_mob_down_image = 'sprite.png';
$icon_arrow_menu_mob_down = 336px 175px -336px -175px 10px 10px 350px 280px 'sprite.png' 'icon_arrow-menu-mob-down';
$icon_arrow_menu_down_white_name = 'icon_arrow-menu_down-white';
$icon_arrow_menu_down_white_x = 310px;
$icon_arrow_menu_down_white_y = 223px;
$icon_arrow_menu_down_white_offset_x = -310px;
$icon_arrow_menu_down_white_offset_y = -223px;
$icon_arrow_menu_down_white_width = 10px;
$icon_arrow_menu_down_white_height = 10px;
$icon_arrow_menu_down_white_total_width = 350px;
$icon_arrow_menu_down_white_total_height = 280px;
$icon_arrow_menu_down_white_image = 'sprite.png';
$icon_arrow_menu_down_white = 310px 223px -310px -223px 10px 10px 350px 280px 'sprite.png' 'icon_arrow-menu_down-white';
$icon_arrow_pagination_name = 'icon_arrow-pagination';
$icon_arrow_pagination_x = 310px;
$icon_arrow_pagination_y = 243px;
$icon_arrow_pagination_offset_x = -310px;
$icon_arrow_pagination_offset_y = -243px;
$icon_arrow_pagination_width = 6px;
$icon_arrow_pagination_height = 12px;
$icon_arrow_pagination_total_width = 350px;
$icon_arrow_pagination_total_height = 280px;
$icon_arrow_pagination_image = 'sprite.png';
$icon_arrow_pagination = 310px 243px -310px -243px 6px 12px 350px 280px 'sprite.png' 'icon_arrow-pagination';
$icon_arrow_point_to_right_active_name = 'icon_arrow-point-to-right-active';
$icon_arrow_point_to_right_active_x = 310px;
$icon_arrow_point_to_right_active_y = 175px;
$icon_arrow_point_to_right_active_offset_x = -310px;
$icon_arrow_point_to_right_active_offset_y = -175px;
$icon_arrow_point_to_right_active_width = 16px;
$icon_arrow_point_to_right_active_height = 16px;
$icon_arrow_point_to_right_active_total_width = 350px;
$icon_arrow_point_to_right_active_total_height = 280px;
$icon_arrow_point_to_right_active_image = 'sprite.png';
$icon_arrow_point_to_right_active = 310px 175px -310px -175px 16px 16px 350px 280px 'sprite.png' 'icon_arrow-point-to-right-active';
$icon_arrow_point_to_right_name = 'icon_arrow-point-to-right';
$icon_arrow_point_to_right_x = 310px;
$icon_arrow_point_to_right_y = 149px;
$icon_arrow_point_to_right_offset_x = -310px;
$icon_arrow_point_to_right_offset_y = -149px;
$icon_arrow_point_to_right_width = 16px;
$icon_arrow_point_to_right_height = 16px;
$icon_arrow_point_to_right_total_width = 350px;
$icon_arrow_point_to_right_total_height = 280px;
$icon_arrow_point_to_right_image = 'sprite.png';
$icon_arrow_point_to_right = 310px 149px -310px -149px 16px 16px 350px 280px 'sprite.png' 'icon_arrow-point-to-right';
$icon_arrow_project_active_name = 'icon_arrow_project-active';
$icon_arrow_project_active_x = 151px;
$icon_arrow_project_active_y = 0px;
$icon_arrow_project_active_offset_x = -151px;
$icon_arrow_project_active_offset_y = 0px;
$icon_arrow_project_active_width = 72px;
$icon_arrow_project_active_height = 50px;
$icon_arrow_project_active_total_width = 350px;
$icon_arrow_project_active_total_height = 280px;
$icon_arrow_project_active_image = 'sprite.png';
$icon_arrow_project_active = 151px 0px -151px 0px 72px 50px 350px 280px 'sprite.png' 'icon_arrow_project-active';
$icon_arrow_project_name = 'icon_arrow_project';
$icon_arrow_project_x = 0px;
$icon_arrow_project_y = 102px;
$icon_arrow_project_offset_x = 0px;
$icon_arrow_project_offset_y = -102px;
$icon_arrow_project_width = 72px;
$icon_arrow_project_height = 50px;
$icon_arrow_project_total_width = 350px;
$icon_arrow_project_total_height = 280px;
$icon_arrow_project_image = 'sprite.png';
$icon_arrow_project = 0px 102px 0px -102px 72px 50px 350px 280px 'sprite.png' 'icon_arrow_project';
$icon_arrow_project_mob_name = 'icon_arrow_project_mob';
$icon_arrow_project_mob_x = 310px;
$icon_arrow_project_mob_y = 65px;
$icon_arrow_project_mob_offset_x = -310px;
$icon_arrow_project_mob_offset_y = -65px;
$icon_arrow_project_mob_width = 29px;
$icon_arrow_project_mob_height = 21px;
$icon_arrow_project_mob_total_width = 350px;
$icon_arrow_project_mob_total_height = 280px;
$icon_arrow_project_mob_image = 'sprite.png';
$icon_arrow_project_mob = 310px 65px -310px -65px 29px 21px 350px 280px 'sprite.png' 'icon_arrow_project_mob';
$icon_bus_big_name = 'icon_bus-big';
$icon_bus_big_x = 0px;
$icon_bus_big_y = 162px;
$icon_bus_big_offset_x = 0px;
$icon_bus_big_offset_y = -162px;
$icon_bus_big_width = 58px;
$icon_bus_big_height = 58px;
$icon_bus_big_total_width = 350px;
$icon_bus_big_total_height = 280px;
$icon_bus_big_image = 'sprite.png';
$icon_bus_big = 0px 162px 0px -162px 58px 58px 350px 280px 'sprite.png' 'icon_bus-big';
$icon_calendar_name = 'icon_calendar';
$icon_calendar_x = 310px;
$icon_calendar_y = 123px;
$icon_calendar_offset_x = -310px;
$icon_calendar_offset_y = -123px;
$icon_calendar_width = 16px;
$icon_calendar_height = 16px;
$icon_calendar_total_width = 350px;
$icon_calendar_total_height = 280px;
$icon_calendar_image = 'sprite.png';
$icon_calendar = 310px 123px -310px -123px 16px 16px 350px 280px 'sprite.png' 'icon_calendar';
$icon_call__btn_name = 'icon_call__btn';
$icon_call__btn_x = 0px;
$icon_call__btn_y = 230px;
$icon_call__btn_offset_x = 0px;
$icon_call__btn_offset_y = -230px;
$icon_call__btn_width = 50px;
$icon_call__btn_height = 50px;
$icon_call__btn_total_width = 350px;
$icon_call__btn_total_height = 280px;
$icon_call__btn_image = 'sprite.png';
$icon_call__btn = 0px 230px 0px -230px 50px 50px 350px 280px 'sprite.png' 'icon_call__btn';
$icon_camp_name = 'icon_camp';
$icon_camp_x = 82px;
$icon_camp_y = 133px;
$icon_camp_offset_x = -82px;
$icon_camp_offset_y = -133px;
$icon_camp_width = 141px;
$icon_camp_height = 17px;
$icon_camp_total_width = 350px;
$icon_camp_total_height = 280px;
$icon_camp_image = 'sprite.png';
$icon_camp = 82px 133px -82px -133px 141px 17px 350px 280px 'sprite.png' 'icon_camp';
$icon_close_name = 'icon_close';
$icon_close_x = 337px;
$icon_close_y = 96px;
$icon_close_offset_x = -337px;
$icon_close_offset_y = -96px;
$icon_close_width = 12px;
$icon_close_height = 12px;
$icon_close_total_width = 350px;
$icon_close_total_height = 280px;
$icon_close_image = 'sprite.png';
$icon_close = 337px 96px -337px -96px 12px 12px 350px 280px 'sprite.png' 'icon_close';
$icon_forest_name = 'icon_forest';
$icon_forest_x = 68px;
$icon_forest_y = 162px;
$icon_forest_offset_x = -68px;
$icon_forest_offset_y = -162px;
$icon_forest_width = 141px;
$icon_forest_height = 20px;
$icon_forest_total_width = 350px;
$icon_forest_total_height = 280px;
$icon_forest_image = 'sprite.png';
$icon_forest = 68px 162px -68px -162px 141px 20px 350px 280px 'sprite.png' 'icon_forest';
$icon_globus_name = 'icon_globus';
$icon_globus_x = 0px;
$icon_globus_y = 68px;
$icon_globus_offset_x = 0px;
$icon_globus_offset_y = -68px;
$icon_globus_width = 141px;
$icon_globus_height = 24px;
$icon_globus_total_width = 350px;
$icon_globus_total_height = 280px;
$icon_globus_image = 'sprite.png';
$icon_globus = 0px 68px 0px -68px 141px 24px 350px 280px 'sprite.png' 'icon_globus';
$icon_human_green_name = 'icon_human_green';
$icon_human_green_x = 336px;
$icon_human_green_y = 149px;
$icon_human_green_offset_x = -336px;
$icon_human_green_offset_y = -149px;
$icon_human_green_width = 14px;
$icon_human_green_height = 14px;
$icon_human_green_total_width = 350px;
$icon_human_green_total_height = 280px;
$icon_human_green_image = 'sprite.png';
$icon_human_green = 336px 149px -336px -149px 14px 14px 350px 280px 'sprite.png' 'icon_human_green';
$icon_map_big_name = 'icon_map-big';
$icon_map_big_x = 233px;
$icon_map_big_y = 0px;
$icon_map_big_offset_x = -233px;
$icon_map_big_offset_y = 0px;
$icon_map_big_width = 67px;
$icon_map_big_height = 46px;
$icon_map_big_total_width = 350px;
$icon_map_big_total_height = 280px;
$icon_map_big_image = 'sprite.png';
$icon_map_big = 233px 0px -233px 0px 67px 46px 350px 280px 'sprite.png' 'icon_map-big';
$icon_mountains_name = 'icon_mountains';
$icon_mountains_x = 82px;
$icon_mountains_y = 102px;
$icon_mountains_offset_x = -82px;
$icon_mountains_offset_y = -102px;
$icon_mountains_width = 141px;
$icon_mountains_height = 21px;
$icon_mountains_total_width = 350px;
$icon_mountains_total_height = 280px;
$icon_mountains_image = 'sprite.png';
$icon_mountains = 82px 102px -82px -102px 141px 21px 350px 280px 'sprite.png' 'icon_mountains';
$icon_phone_green_name = 'icon_phone_green';
$icon_phone_green_x = 336px;
$icon_phone_green_y = 123px;
$icon_phone_green_offset_x = -336px;
$icon_phone_green_offset_y = -123px;
$icon_phone_green_width = 14px;
$icon_phone_green_height = 14px;
$icon_phone_green_total_width = 350px;
$icon_phone_green_total_height = 280px;
$icon_phone_green_image = 'sprite.png';
$icon_phone_green = 336px 123px -336px -123px 14px 14px 350px 280px 'sprite.png' 'icon_phone_green';
$icon_phone_mail_name = 'icon_phone_mail';
$icon_phone_mail_x = 310px;
$icon_phone_mail_y = 201px;
$icon_phone_mail_offset_x = -310px;
$icon_phone_mail_offset_y = -201px;
$icon_phone_mail_width = 17px;
$icon_phone_mail_height = 12px;
$icon_phone_mail_total_width = 350px;
$icon_phone_mail_total_height = 280px;
$icon_phone_mail_image = 'sprite.png';
$icon_phone_mail = 310px 201px -310px -201px 17px 12px 350px 280px 'sprite.png' 'icon_phone_mail';
$icon_photo_big_name = 'icon_photo-big';
$icon_photo_big_x = 233px;
$icon_photo_big_y = 121px;
$icon_photo_big_offset_x = -233px;
$icon_photo_big_offset_y = -121px;
$icon_photo_big_width = 54px;
$icon_photo_big_height = 48px;
$icon_photo_big_total_width = 350px;
$icon_photo_big_total_height = 280px;
$icon_photo_big_image = 'sprite.png';
$icon_photo_big = 233px 121px -233px -121px 54px 48px 350px 280px 'sprite.png' 'icon_photo-big';
$icon_search_name = 'icon_search';
$icon_search_x = 310px;
$icon_search_y = 96px;
$icon_search_offset_x = -310px;
$icon_search_offset_y = -96px;
$icon_search_width = 17px;
$icon_search_height = 17px;
$icon_search_total_width = 350px;
$icon_search_total_height = 280px;
$icon_search_image = 'sprite.png';
$icon_search = 310px 96px -310px -96px 17px 17px 350px 280px 'sprite.png' 'icon_search';
$icon_sun_name = 'icon_sun';
$icon_sun_x = 0px;
$icon_sun_y = 34px;
$icon_sun_offset_x = 0px;
$icon_sun_offset_y = -34px;
$icon_sun_width = 141px;
$icon_sun_height = 24px;
$icon_sun_total_width = 350px;
$icon_sun_total_height = 280px;
$icon_sun_image = 'sprite.png';
$icon_sun = 0px 34px 0px -34px 141px 24px 350px 280px 'sprite.png' 'icon_sun';
$icon_tourist_big_name = 'icon_tourist-big';
$icon_tourist_big_x = 310px;
$icon_tourist_big_y = 0px;
$icon_tourist_big_offset_x = -310px;
$icon_tourist_big_offset_y = 0px;
$icon_tourist_big_width = 40px;
$icon_tourist_big_height = 55px;
$icon_tourist_big_total_width = 350px;
$icon_tourist_big_total_height = 280px;
$icon_tourist_big_image = 'sprite.png';
$icon_tourist_big = 310px 0px -310px 0px 40px 55px 350px 280px 'sprite.png' 'icon_tourist-big';
$icon_zoom_name = 'icon_zoom';
$icon_zoom_x = 233px;
$icon_zoom_y = 56px;
$icon_zoom_offset_x = -233px;
$icon_zoom_offset_y = -56px;
$icon_zoom_width = 55px;
$icon_zoom_height = 55px;
$icon_zoom_total_width = 350px;
$icon_zoom_total_height = 280px;
$icon_zoom_image = 'sprite.png';
$icon_zoom = 233px 56px -233px -56px 55px 55px 350px 280px 'sprite.png' 'icon_zoom';
$spritesheet_width = 350px;
$spritesheet_height = 280px;
$spritesheet_image = 'sprite.png';
$spritesheet_sprites = $icon_another_products $icon_arrow_black $icon_arrow_menu_down $icon_arrow_menu_mob_down $icon_arrow_menu_down_white $icon_arrow_pagination $icon_arrow_point_to_right_active $icon_arrow_point_to_right $icon_arrow_project_active $icon_arrow_project $icon_arrow_project_mob $icon_bus_big $icon_calendar $icon_call__btn $icon_camp $icon_close $icon_forest $icon_globus $icon_human_green $icon_map_big $icon_mountains $icon_phone_green $icon_phone_mail $icon_photo_big $icon_search $icon_sun $icon_tourist_big $icon_zoom;
$spritesheet = 350px 280px 'sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url('../img/' + $sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
