/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$icon_arrow_black_name = 'icon_arrow-black';
$icon_arrow_black_x = 94px;
$icon_arrow_black_y = 159px;
$icon_arrow_black_offset_x = -94px;
$icon_arrow_black_offset_y = -159px;
$icon_arrow_black_width = 12px;
$icon_arrow_black_height = 6px;
$icon_arrow_black_total_width = 218px;
$icon_arrow_black_total_height = 183px;
$icon_arrow_black_image = 'sprite.png';
$icon_arrow_black = 94px 159px -94px -159px 12px 6px 218px 183px 'sprite.png' 'icon_arrow-black';
$icon_arrow_menu_down_name = 'icon_arrow-menu-down';
$icon_arrow_menu_down_x = 54px;
$icon_arrow_menu_down_y = 159px;
$icon_arrow_menu_down_offset_x = -54px;
$icon_arrow_menu_down_offset_y = -159px;
$icon_arrow_menu_down_width = 10px;
$icon_arrow_menu_down_height = 10px;
$icon_arrow_menu_down_total_width = 218px;
$icon_arrow_menu_down_total_height = 183px;
$icon_arrow_menu_down_image = 'sprite.png';
$icon_arrow_menu_down = 54px 159px -54px -159px 10px 10px 218px 183px 'sprite.png' 'icon_arrow-menu-down';
$icon_arrow_menu_mob_down_name = 'icon_arrow-menu-mob-down';
$icon_arrow_menu_mob_down_x = 74px;
$icon_arrow_menu_mob_down_y = 159px;
$icon_arrow_menu_mob_down_offset_x = -74px;
$icon_arrow_menu_mob_down_offset_y = -159px;
$icon_arrow_menu_mob_down_width = 10px;
$icon_arrow_menu_mob_down_height = 10px;
$icon_arrow_menu_mob_down_total_width = 218px;
$icon_arrow_menu_mob_down_total_height = 183px;
$icon_arrow_menu_mob_down_image = 'sprite.png';
$icon_arrow_menu_mob_down = 74px 159px -74px -159px 10px 10px 218px 183px 'sprite.png' 'icon_arrow-menu-mob-down';
$icon_arrow_menu_down_white_name = 'icon_arrow-menu_down-white';
$icon_arrow_menu_down_white_x = 34px;
$icon_arrow_menu_down_white_y = 159px;
$icon_arrow_menu_down_white_offset_x = -34px;
$icon_arrow_menu_down_white_offset_y = -159px;
$icon_arrow_menu_down_white_width = 10px;
$icon_arrow_menu_down_white_height = 10px;
$icon_arrow_menu_down_white_total_width = 218px;
$icon_arrow_menu_down_white_total_height = 183px;
$icon_arrow_menu_down_white_image = 'sprite.png';
$icon_arrow_menu_down_white = 34px 159px -34px -159px 10px 10px 218px 183px 'sprite.png' 'icon_arrow-menu_down-white';
$icon_arrow_pagination_name = 'icon_arrow-pagination';
$icon_arrow_pagination_x = 145px;
$icon_arrow_pagination_y = 60px;
$icon_arrow_pagination_offset_x = -145px;
$icon_arrow_pagination_offset_y = -60px;
$icon_arrow_pagination_width = 6px;
$icon_arrow_pagination_height = 12px;
$icon_arrow_pagination_total_width = 218px;
$icon_arrow_pagination_total_height = 183px;
$icon_arrow_pagination_image = 'sprite.png';
$icon_arrow_pagination = 145px 60px -145px -60px 6px 12px 218px 183px 'sprite.png' 'icon_arrow-pagination';
$icon_arrow_point_to_right_active_name = 'icon_arrow-point-to-right-active';
$icon_arrow_point_to_right_active_x = 170px;
$icon_arrow_point_to_right_active_y = 128px;
$icon_arrow_point_to_right_active_offset_x = -170px;
$icon_arrow_point_to_right_active_offset_y = -128px;
$icon_arrow_point_to_right_active_width = 16px;
$icon_arrow_point_to_right_active_height = 16px;
$icon_arrow_point_to_right_active_total_width = 218px;
$icon_arrow_point_to_right_active_total_height = 183px;
$icon_arrow_point_to_right_active_image = 'sprite.png';
$icon_arrow_point_to_right_active = 170px 128px -170px -128px 16px 16px 218px 183px 'sprite.png' 'icon_arrow-point-to-right-active';
$icon_arrow_point_to_right_name = 'icon_arrow-point-to-right';
$icon_arrow_point_to_right_x = 118px;
$icon_arrow_point_to_right_y = 128px;
$icon_arrow_point_to_right_offset_x = -118px;
$icon_arrow_point_to_right_offset_y = -128px;
$icon_arrow_point_to_right_width = 16px;
$icon_arrow_point_to_right_height = 16px;
$icon_arrow_point_to_right_total_width = 218px;
$icon_arrow_point_to_right_total_height = 183px;
$icon_arrow_point_to_right_image = 'sprite.png';
$icon_arrow_point_to_right = 118px 128px -118px -128px 16px 16px 218px 183px 'sprite.png' 'icon_arrow-point-to-right';
$icon_arrow_project_active_name = 'icon_arrow_project-active';
$icon_arrow_project_active_x = 82px;
$icon_arrow_project_active_y = 0px;
$icon_arrow_project_active_offset_x = -82px;
$icon_arrow_project_active_offset_y = 0px;
$icon_arrow_project_active_width = 72px;
$icon_arrow_project_active_height = 50px;
$icon_arrow_project_active_total_width = 218px;
$icon_arrow_project_active_total_height = 183px;
$icon_arrow_project_active_image = 'sprite.png';
$icon_arrow_project_active = 82px 0px -82px 0px 72px 50px 218px 183px 'sprite.png' 'icon_arrow_project-active';
$icon_arrow_project_name = 'icon_arrow_project';
$icon_arrow_project_x = 0px;
$icon_arrow_project_y = 0px;
$icon_arrow_project_offset_x = 0px;
$icon_arrow_project_offset_y = 0px;
$icon_arrow_project_width = 72px;
$icon_arrow_project_height = 50px;
$icon_arrow_project_total_width = 218px;
$icon_arrow_project_total_height = 183px;
$icon_arrow_project_image = 'sprite.png';
$icon_arrow_project = 0px 0px 0px 0px 72px 50px 218px 183px 'sprite.png' 'icon_arrow_project';
$icon_arrow_project_mob_name = 'icon_arrow_project_mob';
$icon_arrow_project_mob_x = 0px;
$icon_arrow_project_mob_y = 128px;
$icon_arrow_project_mob_offset_x = 0px;
$icon_arrow_project_mob_offset_y = -128px;
$icon_arrow_project_mob_width = 29px;
$icon_arrow_project_mob_height = 21px;
$icon_arrow_project_mob_total_width = 218px;
$icon_arrow_project_mob_total_height = 183px;
$icon_arrow_project_mob_image = 'sprite.png';
$icon_arrow_project_mob = 0px 128px 0px -128px 29px 21px 218px 183px 'sprite.png' 'icon_arrow_project_mob';
$icon_bus_big_name = 'icon_bus-big';
$icon_bus_big_x = 0px;
$icon_bus_big_y = 60px;
$icon_bus_big_offset_x = 0px;
$icon_bus_big_offset_y = -60px;
$icon_bus_big_width = 58px;
$icon_bus_big_height = 58px;
$icon_bus_big_total_width = 218px;
$icon_bus_big_total_height = 183px;
$icon_bus_big_image = 'sprite.png';
$icon_bus_big = 0px 60px 0px -60px 58px 58px 218px 183px 'sprite.png' 'icon_bus-big';
$icon_calendar_name = 'icon_calendar';
$icon_calendar_x = 0px;
$icon_calendar_y = 159px;
$icon_calendar_offset_x = 0px;
$icon_calendar_offset_y = -159px;
$icon_calendar_width = 24px;
$icon_calendar_height = 24px;
$icon_calendar_total_width = 218px;
$icon_calendar_total_height = 183px;
$icon_calendar_image = 'sprite.png';
$icon_calendar = 0px 159px 0px -159px 24px 24px 218px 183px 'sprite.png' 'icon_calendar';
$icon_close_name = 'icon_close';
$icon_close_x = 196px;
$icon_close_y = 128px;
$icon_close_offset_x = -196px;
$icon_close_offset_y = -128px;
$icon_close_width = 12px;
$icon_close_height = 12px;
$icon_close_total_width = 218px;
$icon_close_total_height = 183px;
$icon_close_image = 'sprite.png';
$icon_close = 196px 128px -196px -128px 12px 12px 218px 183px 'sprite.png' 'icon_close';
$icon_human_green_name = 'icon_human_green';
$icon_human_green_x = 66px;
$icon_human_green_y = 128px;
$icon_human_green_offset_x = -66px;
$icon_human_green_offset_y = -128px;
$icon_human_green_width = 16px;
$icon_human_green_height = 16px;
$icon_human_green_total_width = 218px;
$icon_human_green_total_height = 183px;
$icon_human_green_image = 'sprite.png';
$icon_human_green = 66px 128px -66px -128px 16px 16px 218px 183px 'sprite.png' 'icon_human_green';
$icon_map_big_name = 'icon_map-big';
$icon_map_big_x = 68px;
$icon_map_big_y = 60px;
$icon_map_big_offset_x = -68px;
$icon_map_big_offset_y = -60px;
$icon_map_big_width = 67px;
$icon_map_big_height = 46px;
$icon_map_big_total_width = 218px;
$icon_map_big_total_height = 183px;
$icon_map_big_image = 'sprite.png';
$icon_map_big = 68px 60px -68px -60px 67px 46px 218px 183px 'sprite.png' 'icon_map-big';
$icon_phone_green_name = 'icon_phone_green';
$icon_phone_green_x = 144px;
$icon_phone_green_y = 128px;
$icon_phone_green_offset_x = -144px;
$icon_phone_green_offset_y = -128px;
$icon_phone_green_width = 16px;
$icon_phone_green_height = 16px;
$icon_phone_green_total_width = 218px;
$icon_phone_green_total_height = 183px;
$icon_phone_green_image = 'sprite.png';
$icon_phone_green = 144px 128px -144px -128px 16px 16px 218px 183px 'sprite.png' 'icon_phone_green';
$icon_phone_mail_name = 'icon_phone_mail';
$icon_phone_mail_x = 92px;
$icon_phone_mail_y = 128px;
$icon_phone_mail_offset_x = -92px;
$icon_phone_mail_offset_y = -128px;
$icon_phone_mail_width = 16px;
$icon_phone_mail_height = 16px;
$icon_phone_mail_total_width = 218px;
$icon_phone_mail_total_height = 183px;
$icon_phone_mail_image = 'sprite.png';
$icon_phone_mail = 92px 128px -92px -128px 16px 16px 218px 183px 'sprite.png' 'icon_phone_mail';
$icon_photo_big_name = 'icon_photo-big';
$icon_photo_big_x = 164px;
$icon_photo_big_y = 0px;
$icon_photo_big_offset_x = -164px;
$icon_photo_big_offset_y = 0px;
$icon_photo_big_width = 54px;
$icon_photo_big_height = 48px;
$icon_photo_big_total_width = 218px;
$icon_photo_big_total_height = 183px;
$icon_photo_big_image = 'sprite.png';
$icon_photo_big = 164px 0px -164px 0px 54px 48px 218px 183px 'sprite.png' 'icon_photo-big';
$icon_search_name = 'icon_search';
$icon_search_x = 39px;
$icon_search_y = 128px;
$icon_search_offset_x = -39px;
$icon_search_offset_y = -128px;
$icon_search_width = 17px;
$icon_search_height = 17px;
$icon_search_total_width = 218px;
$icon_search_total_height = 183px;
$icon_search_image = 'sprite.png';
$icon_search = 39px 128px -39px -128px 17px 17px 218px 183px 'sprite.png' 'icon_search';
$icon_tourist_big_name = 'icon_tourist-big';
$icon_tourist_big_x = 164px;
$icon_tourist_big_y = 58px;
$icon_tourist_big_offset_x = -164px;
$icon_tourist_big_offset_y = -58px;
$icon_tourist_big_width = 40px;
$icon_tourist_big_height = 55px;
$icon_tourist_big_total_width = 218px;
$icon_tourist_big_total_height = 183px;
$icon_tourist_big_image = 'sprite.png';
$icon_tourist_big = 164px 58px -164px -58px 40px 55px 218px 183px 'sprite.png' 'icon_tourist-big';
$spritesheet_width = 218px;
$spritesheet_height = 183px;
$spritesheet_image = 'sprite.png';
$spritesheet_sprites = $icon_arrow_black $icon_arrow_menu_down $icon_arrow_menu_mob_down $icon_arrow_menu_down_white $icon_arrow_pagination $icon_arrow_point_to_right_active $icon_arrow_point_to_right $icon_arrow_project_active $icon_arrow_project $icon_arrow_project_mob $icon_bus_big $icon_calendar $icon_close $icon_human_green $icon_map_big $icon_phone_green $icon_phone_mail $icon_photo_big $icon_search $icon_tourist_big;
$spritesheet = 218px 183px 'sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url('../img/' + $sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
