/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$icon_another_products_name = 'icon_another-products';
$icon_another_products_x = 0px;
$icon_another_products_y = 0px;
$icon_another_products_offset_x = 0px;
$icon_another_products_offset_y = 0px;
$icon_another_products_width = 141px;
$icon_another_products_height = 24px;
$icon_another_products_total_width = 360px;
$icon_another_products_total_height = 209px;
$icon_another_products_image = 'sprite.png';
$icon_another_products = 0px 0px 0px 0px 141px 24px 360px 209px 'sprite.png' 'icon_another-products';
$icon_arrow_black_name = 'icon_arrow-black';
$icon_arrow_black_x = 347px;
$icon_arrow_black_y = 54px;
$icon_arrow_black_offset_x = -347px;
$icon_arrow_black_offset_y = -54px;
$icon_arrow_black_width = 12px;
$icon_arrow_black_height = 6px;
$icon_arrow_black_total_width = 360px;
$icon_arrow_black_total_height = 209px;
$icon_arrow_black_image = 'sprite.png';
$icon_arrow_black = 347px 54px -347px -54px 12px 6px 360px 209px 'sprite.png' 'icon_arrow-black';
$icon_arrow_pagination_name = 'icon_arrow-pagination';
$icon_arrow_pagination_x = 331px;
$icon_arrow_pagination_y = 54px;
$icon_arrow_pagination_offset_x = -331px;
$icon_arrow_pagination_offset_y = -54px;
$icon_arrow_pagination_width = 6px;
$icon_arrow_pagination_height = 12px;
$icon_arrow_pagination_total_width = 360px;
$icon_arrow_pagination_total_height = 209px;
$icon_arrow_pagination_image = 'sprite.png';
$icon_arrow_pagination = 331px 54px -331px -54px 6px 12px 360px 209px 'sprite.png' 'icon_arrow-pagination';
$icon_bus_big_name = 'icon_bus-big';
$icon_bus_big_x = 151px;
$icon_bus_big_y = 0px;
$icon_bus_big_offset_x = -151px;
$icon_bus_big_offset_y = 0px;
$icon_bus_big_width = 58px;
$icon_bus_big_height = 58px;
$icon_bus_big_total_width = 360px;
$icon_bus_big_total_height = 209px;
$icon_bus_big_image = 'sprite.png';
$icon_bus_big = 151px 0px -151px 0px 58px 58px 360px 209px 'sprite.png' 'icon_bus-big';
$icon_camp_name = 'icon_camp';
$icon_camp_x = 219px;
$icon_camp_y = 0px;
$icon_camp_offset_x = -219px;
$icon_camp_offset_y = 0px;
$icon_camp_width = 141px;
$icon_camp_height = 17px;
$icon_camp_total_width = 360px;
$icon_camp_total_height = 209px;
$icon_camp_image = 'sprite.png';
$icon_camp = 219px 0px -219px 0px 141px 17px 360px 209px 'sprite.png' 'icon_camp';
$icon_close_name = 'icon_close';
$icon_close_x = 337px;
$icon_close_y = 27px;
$icon_close_offset_x = -337px;
$icon_close_offset_y = -27px;
$icon_close_width = 12px;
$icon_close_height = 12px;
$icon_close_total_width = 360px;
$icon_close_total_height = 209px;
$icon_close_image = 'sprite.png';
$icon_close = 337px 27px -337px -27px 12px 12px 360px 209px 'sprite.png' 'icon_close';
$icon_forest_name = 'icon_forest';
$icon_forest_x = 0px;
$icon_forest_y = 133px;
$icon_forest_offset_x = 0px;
$icon_forest_offset_y = -133px;
$icon_forest_width = 141px;
$icon_forest_height = 20px;
$icon_forest_total_width = 360px;
$icon_forest_total_height = 209px;
$icon_forest_image = 'sprite.png';
$icon_forest = 0px 133px 0px -133px 141px 20px 360px 209px 'sprite.png' 'icon_forest';
$icon_globus_name = 'icon_globus';
$icon_globus_x = 0px;
$icon_globus_y = 68px;
$icon_globus_offset_x = 0px;
$icon_globus_offset_y = -68px;
$icon_globus_width = 141px;
$icon_globus_height = 24px;
$icon_globus_total_width = 360px;
$icon_globus_total_height = 209px;
$icon_globus_image = 'sprite.png';
$icon_globus = 0px 68px 0px -68px 141px 24px 360px 209px 'sprite.png' 'icon_globus';
$icon_human_green_name = 'icon_human_green';
$icon_human_green_x = 283px;
$icon_human_green_y = 54px;
$icon_human_green_offset_x = -283px;
$icon_human_green_offset_y = -54px;
$icon_human_green_width = 14px;
$icon_human_green_height = 14px;
$icon_human_green_total_width = 360px;
$icon_human_green_total_height = 209px;
$icon_human_green_image = 'sprite.png';
$icon_human_green = 283px 54px -283px -54px 14px 14px 360px 209px 'sprite.png' 'icon_human_green';
$icon_map_big_name = 'icon_map-big';
$icon_map_big_x = 0px;
$icon_map_big_y = 163px;
$icon_map_big_offset_x = 0px;
$icon_map_big_offset_y = -163px;
$icon_map_big_width = 67px;
$icon_map_big_height = 46px;
$icon_map_big_total_width = 360px;
$icon_map_big_total_height = 209px;
$icon_map_big_image = 'sprite.png';
$icon_map_big = 0px 163px 0px -163px 67px 46px 360px 209px 'sprite.png' 'icon_map-big';
$icon_mountains_name = 'icon_mountains';
$icon_mountains_x = 0px;
$icon_mountains_y = 102px;
$icon_mountains_offset_x = 0px;
$icon_mountains_offset_y = -102px;
$icon_mountains_width = 141px;
$icon_mountains_height = 21px;
$icon_mountains_total_width = 360px;
$icon_mountains_total_height = 209px;
$icon_mountains_image = 'sprite.png';
$icon_mountains = 0px 102px 0px -102px 141px 21px 360px 209px 'sprite.png' 'icon_mountains';
$icon_phone_green_name = 'icon_phone_green';
$icon_phone_green_x = 307px;
$icon_phone_green_y = 54px;
$icon_phone_green_offset_x = -307px;
$icon_phone_green_offset_y = -54px;
$icon_phone_green_width = 14px;
$icon_phone_green_height = 14px;
$icon_phone_green_total_width = 360px;
$icon_phone_green_total_height = 209px;
$icon_phone_green_image = 'sprite.png';
$icon_phone_green = 307px 54px -307px -54px 14px 14px 360px 209px 'sprite.png' 'icon_phone_green';
$icon_phone_mail_name = 'icon_phone_mail';
$icon_phone_mail_x = 310px;
$icon_phone_mail_y = 27px;
$icon_phone_mail_offset_x = -310px;
$icon_phone_mail_offset_y = -27px;
$icon_phone_mail_width = 17px;
$icon_phone_mail_height = 12px;
$icon_phone_mail_total_width = 360px;
$icon_phone_mail_total_height = 209px;
$icon_phone_mail_image = 'sprite.png';
$icon_phone_mail = 310px 27px -310px -27px 17px 12px 360px 209px 'sprite.png' 'icon_phone_mail';
$icon_photo_big_name = 'icon_photo-big';
$icon_photo_big_x = 219px;
$icon_photo_big_y = 27px;
$icon_photo_big_offset_x = -219px;
$icon_photo_big_offset_y = -27px;
$icon_photo_big_width = 54px;
$icon_photo_big_height = 48px;
$icon_photo_big_total_width = 360px;
$icon_photo_big_total_height = 209px;
$icon_photo_big_image = 'sprite.png';
$icon_photo_big = 219px 27px -219px -27px 54px 48px 360px 209px 'sprite.png' 'icon_photo-big';
$icon_search_name = 'icon_search';
$icon_search_x = 283px;
$icon_search_y = 27px;
$icon_search_offset_x = -283px;
$icon_search_offset_y = -27px;
$icon_search_width = 17px;
$icon_search_height = 17px;
$icon_search_total_width = 360px;
$icon_search_total_height = 209px;
$icon_search_image = 'sprite.png';
$icon_search = 283px 27px -283px -27px 17px 17px 360px 209px 'sprite.png' 'icon_search';
$icon_sun_name = 'icon_sun';
$icon_sun_x = 0px;
$icon_sun_y = 34px;
$icon_sun_offset_x = 0px;
$icon_sun_offset_y = -34px;
$icon_sun_width = 141px;
$icon_sun_height = 24px;
$icon_sun_total_width = 360px;
$icon_sun_total_height = 209px;
$icon_sun_image = 'sprite.png';
$icon_sun = 0px 34px 0px -34px 141px 24px 360px 209px 'sprite.png' 'icon_sun';
$icon_tourist_big_name = 'icon_tourist-big';
$icon_tourist_big_x = 219px;
$icon_tourist_big_y = 85px;
$icon_tourist_big_offset_x = -219px;
$icon_tourist_big_offset_y = -85px;
$icon_tourist_big_width = 40px;
$icon_tourist_big_height = 55px;
$icon_tourist_big_total_width = 360px;
$icon_tourist_big_total_height = 209px;
$icon_tourist_big_image = 'sprite.png';
$icon_tourist_big = 219px 85px -219px -85px 40px 55px 360px 209px 'sprite.png' 'icon_tourist-big';
$icon_zoom_name = 'icon_zoom';
$icon_zoom_x = 151px;
$icon_zoom_y = 68px;
$icon_zoom_offset_x = -151px;
$icon_zoom_offset_y = -68px;
$icon_zoom_width = 55px;
$icon_zoom_height = 55px;
$icon_zoom_total_width = 360px;
$icon_zoom_total_height = 209px;
$icon_zoom_image = 'sprite.png';
$icon_zoom = 151px 68px -151px -68px 55px 55px 360px 209px 'sprite.png' 'icon_zoom';
$spritesheet_width = 360px;
$spritesheet_height = 209px;
$spritesheet_image = 'sprite.png';
$spritesheet_sprites = $icon_another_products $icon_arrow_black $icon_arrow_pagination $icon_bus_big $icon_camp $icon_close $icon_forest $icon_globus $icon_human_green $icon_map_big $icon_mountains $icon_phone_green $icon_phone_mail $icon_photo_big $icon_search $icon_sun $icon_tourist_big $icon_zoom;
$spritesheet = 360px 209px 'sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url("../img/" + $sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
